* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  /* position: relative; */
}

.container {
  max-width: 160rem;
}

header {
  background-color: black;
  position: absolute;
  width: 100%;
}

.logo-container {
  width: 8rem;
  border: 1px solid #fff;
  text-align: center;
  margin-right: 5rem;
  position: relative
}

header h1, li, p {
  color: white;
}

li {
  font-size: 1.6rem;
  font-weight: 500;
  list-style: none;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

header {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
}

.main-nav {
  display: flex;
  gap: 10px;
}

.main-nav-list {
  display: flex;
  gap: 6rem;
  align-items: center;
}

p {
  font-weight: 500;
  font-size: 1.6rem;
}

.bamboo-icon {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.panda-background {
 position: relative;
}

.orange-background {
  position: absolute;
  width: 46.5rem;
  height: 46.5rem;
  border-radius: 50%;
  background-color: #F9804B;
  top: 0;
  right: 0;
  transform: translate(-70%, 20%);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.orange-text {
  font-size: 10.65rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.75;
  color: #fff;
  position: absolute;
  left: 8rem;
  top: 7rem;
}

.orange-text span {
  color: #FFEE2E;
}

.watch-me {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  width: 29.8rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #F9804B;
  border: none;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  position: absolute;
  bottom: -12rem;
}

.giant-panda {
  width: 100%;
}