* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  /* position: relative; */
}

.section-container {
  max-width: 116.1rem;
  margin: 0 auto;
}

header {
  background-color: black;
  position: absolute;
  width: 100%;
}

.logo-container {
  width: 8rem;
  box-shadow: inset 0 0 0 1px #fff;
  text-align: center;
  /* margin-right: 5rem; */
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

.logo-link {
  margin-right: 5rem;
}

.about {
  color: #F9804B;
}

.figma-link {
  transition: all 0.3s ease;
}

.figma-link:hover {
  font-weight: 400;
}

.main-nav-list a {
  transition: all 0.3s ease;
}

.main-nav-list a:hover {
  box-shadow: inset 0 -1px 0 0 #F9804B;
}

.logo-container:hover {
  box-shadow: none;
}

header h1, li, p {
  color: white;
}

li {
  font-size: 1.6rem;
  font-weight: 500;
  list-style: none;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

header {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
}

.main-nav {
  display: flex;
  gap: 10px;
}

.main-nav-list {
  display: flex;
  gap: 6rem;
  align-items: center;
}

p {
  font-weight: 500;
  font-size: 1.6rem;
}

.bamboo-icon {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.panda-background {
 position: relative;
}

.orange-background {
  position: absolute;
  width: 46.5rem;
  height: 46.5rem;
  border-radius: 50%;
  background-color: #F9804B;
  top: 0;
  right: 0;
  transform: translate(-70%, 20%);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.orange-text {
  font-size: 10.65rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.75;
  color: #fff;
  position: absolute;
  left: 8rem;
  top: 7rem;
}

.orange-text span {
  color: #FFEE2E;
}

.watch-me {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  width: 29.8rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #F9804B;
  border: none;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  position: absolute;
  bottom: -12rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.watch-me:hover {
  background-color: #fff;
  color: #000;
  box-shadow: inset 0 0 0 2px #F9804B;
}

.giant-panda {
  width: 100%;
}

/* SECTION 2 */

.section-2 {
  padding: 14rem;
  position: relative;
  background-image:url('../../assets/flower_foto1.png');
  background-repeat: no-repeat;
  background-position: right;
}

.section-2 p {
  color: black;

}

.info {
  display: flex;
  gap: 9rem;
}

.info-details h2 {
  font-size: 4.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.info-details p {
  font-size: 1.6rem;
  font-weight: 400;
}

.info-1 {
  margin: 1rem 0;
}

.info-details h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 5rem 0;
}

.flower-foto-1 {
  position: absolute;
  right: 0;
  top: 0;
}

/* SECTION 3 */

.section-3 {
  padding: 2rem;
  position: relative;
}

.pets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 2rem;
  column-gap: 3rem;
  position: relative;
}

.pet {
  max-width: 36.6rem;
  border: 1px solid #FA6F32;
  border-radius: 5px;
}

.pet-img {
  width: 100%;
}

.pet-description h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
}
.pet-description p {
  font-weight: 300;
  font-size: 1.5rem;
  color: black
}
/* .pet-description {
  padding: 1rem;
} */

.pet-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.choose-pet {
  background-color: #FE9013;
  color: #fff;
  border: none;
  padding: 1.5rem 5.5rem;
  text-transform: uppercase;
  border-radius: 25px;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button-container {
  text-align: center;
  padding: 8rem 0;
}

.palm, .strelitzia {
  position: absolute;
}

.palm {
  bottom: 0;
  left: 0;
}
.strelitzia {
  right: 0;
  bottom: 0;
}

.btn-left, .btn-right {
  width: 6.3rem;
  height: 6.3rem;
  font-size: 2rem;
  background-color: #FE9013;
  color: #fff;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-left:hover, .btn-right:hover, .choose-pet:hover, .card-button:hover, .btn-donate:hover {
  box-shadow: inset 0 0 0 2px #FE9013;
  background-color: #F1F3F2;
  color: #000;
}

.btn-left {
  transform: translate(-125%, -50%);
  left: 0;
}

.btn-right {
  transform: translate(125%, -50%);
  right: 0;
}

/* SECTION 4 */

.section-4 {
  background-color: #FEBDAB;
  padding: 7rem 0;
}

.pick-and-feed {
  background-color: rgba(253, 253, 255, 0.52);
  max-width: 116.1rem;
  padding: 4rem 10rem;
  border-radius: 20px;
}

.pick-and-feed-intro {
  margin-bottom: 4rem;
}

.pick-and-feed-intro h2 {
  color: #FE9013;
  font-size: 4.8rem;
  font-weight: 400;
  margin-bottom: 3rem;
  text-align: center;
}

.pick-and-feed-intro h3 {
  font-size: 2.4rem;
  color: #333B41;
  font-weight: 400;
  margin-bottom: 3rem;
}

.second-last {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333B41;
  margin-bottom: 1rem;
}

.last {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333B41;
}

.pick-and-feed-desc h2 {
  font-size: 3.6rem;
  font-weight: 400;
  color: #333B41;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 13rem;
  padding: 4rem 0;
}

.card {
  width: 16.8rem;
}

.card-image-container {
  background-color: #fff;
  border: 1px solid #F9804B;
  border-radius: 5px;
  width: 16.8rem;
  height: 16.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333B41;
}

.card-button-container {
  text-align: center;
}

.card-button {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);;
  color: #fff;
  text-transform: uppercase;
  padding: 1.5rem 8rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow-relative {
  position: relative;
}

.arrow-icon {
  position: absolute;
  top: 50%;
}

.arrow-left {
  transform: translate(-200%, -50%);
}

.arrow-right {
  transform: translate(200%, -50%);
}

/* SECTION 5 */
.section-5 {
  padding: 10rem 0;
  background-image: url('../../assets/leaf-photo.png');
  background-repeat: no-repeat;
  background-position: 100% 120%;
}

.testimonial-card {
  max-width: 26.8rem;
  border: 2px solid black;
  background-color: #F1F3F2;
  border-radius: 20px;
  padding: 1.5rem;
}

.testimonial-text p {
  color: #767474;
  font-weight: 300;
  font-size: 1.2rem;
}

.testimonial-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.testimonial-heading h4 {
  font-size: 1.6rem;
  font-weight: 400;
}

.testimonial-date {
  font-size: 1.5rem;
  font-weight: 300;
  color: #BDBDBD;
}

.testimonials h2 {
  font-size: 3.6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4rem;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem 0;
  column-gap: 3rem;
}

.carousel {
  width: 59.9rem;
  height: 8px;
  border: 0.05px solid #FE9013;
  border-radius: 9px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.carousel-active {
  background-color: #F9804B;
  width: 11.519rem;
  height: 100%;
}

.testimonial-button {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  border-radius: 9px;
  color: #fff;
  text-transform: uppercase;
  padding: 1.5rem 8rem;
  font-size: 1.6rem;
  font-weight: 500;
}

/* FOOTER - FINAL SECTION */
footer {
  background-color: #111115;
}

footer h2 {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 400;
}

footer .logo-container {
  margin-bottom: 6rem;
}

.donate-btn-container {
  margin-bottom: 5rem;
  margin-top: 8rem;
}

.btn-donate {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  color: #fff;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 9px;
  transition: all 0.3s ease;
  cursor: pointer;
}

footer h5 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
}

.footer-container {
  max-width: 116.1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  gap: 1.5rem;
}

.navigation-footer {
  display: flex;
  align-items: flex-end;
}

.subscribe h3 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
}

.subscribe input {
  max-width: 22.8rem;
  height: 4.2rem;
  border: 2px solid #FA6F32;
  background: transparent;
  padding: 0 1rem;
}

.subscribe input::placeholder {
  color: #BDBDBD;
  font-size: 1.6rem;
  font-weight: 400;
}

.submit-btn {
  color: #BDBDBD;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 3rem;
  margin-left: 0.5rem;
}

.facebook, .twitter, .instagram, .youtube {
  color: #C4C4C4;
  margin: 0 1rem 2rem 0;
}

/* .twitter {
  color: #C4C4C4;
  width: 2.6rem;
  height: 2.6rem;
} */

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.contact-icon-container {
  width: 2.6rem;
  height: 2.6rem;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.footer .logo-container {
  margin: 0;
}

.contacts h5 {
  font-size: 1.6rem;
  font-weight: 400;
}

.contact-icon-container:hover {
  background-color: transparent;
}